<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="author" content="createuiux">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">	
		<!-- title here -->
		<title>个人简介</title>
        <!-- Favicon and Touch Icons -->

		<!-- Place favicon.ico in the root directory -->
		<link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="stylesheet" type="text/css" href="../static/layui/css/layui.css" media="all">
		<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		<link rel="stylesheet" href="../static/assets/css/font-awesome.min.css">
		<link rel="stylesheet" href="../static/assets/css/flaticon.css">
		<!-- Plugin CSS -->
		<link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="../static/assets/css/animate.css">
		<link rel="stylesheet" href="../static/assets/css/magnific-popup.css">
		<link rel="stylesheet" href="../static/assets/css/owl.carousel.css">
		<link rel="stylesheet" href="../static/assets/css/owl.theme.css">
		<link rel="stylesheet" href="../static/assets/css/owl.transitions.css">
		<link rel="stylesheet" href="../static/assets/css/animation-headline.css">
		<link rel="stylesheet" href="../static/assets/css/jquery.barfiller.css">
		<link rel="stylesheet" href="../static/assets/css/menu.css">
		<!--Theme custom css -->
		<link rel="stylesheet" href="../static/assets/css/style.css">
		<!--Theme Responsive css-->
		<link rel="stylesheet" href="../static/assets/css/responsive.css" />
		<script src="../static/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        <script type="text/javascript" src="../static/layui/layui.js"></script>
        <script type="text/javascript" src="../static/js/jquery-3.4.1.js"></script>


	</head>
	<body class="body_class">
        <ul class="layui-nav layui-bg-cyan">
            <li class="layui-nav-item"><a href="/main">首页</a></li>
            <li class="layui-nav-item layui-this"><a href="/resume">个人主页</a></li>
            <li class="layui-nav-item"><a href="/personal">个人情感分析</a></li>
            <li class="layui-nav-item"><a href="/topic">话题舆情分析</a></li>
            <li class="layui-nav-item"><a href="/">登出</a></li>
        </ul>

		<!-- header area start here -->
		<div class="header-area">


			<div class="cd-overlay-nav">
				<span></span>
			</div> <!-- cd-overlay-nav -->
			<div class="cd-overlay-content">
				<span></span>
			</div> <!-- cd-overlay-content -->
		</div>
		<!-- header area start here -->
		<!-- profile-area start here -->
		<div class="profile-area">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="profile-info">
							<div class="profile-inner text-center">
								<div class="profile-img">
									<img src="../static/assets/images/profile/1.png" alt="profle">
								</div>
								<div class="profile-name">
									<h1 id="mainName">Jhon Smith</h1>
								</div>
								<div class="profile-profeson">
									<h4 class="cd-headline letters rotate-3">Professional  
										<span class="cd-words-wrapper">
											<b class="is-visible">UX  Designer</b>
											<b>Developer</b>
											<b> Designer</b>
										</span>
									</h4>
								</div>
								<div class="profle-social">
									<div class="social-media">
										<ul>
											<li><a href="#"><i class="fa fa-behance"></i></a></li>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
											<li><a href="#"><i class="fa fa-skype"></i></a></li>																		
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="profile-details mt-230">
							<div class="profile-details-inner">
								<div class="section-title">
									<h3>Profile</h3>
								</div>
								<div class="profile-content table-responsive">
									<table>
										<tbody>
											<tr>
												<td><i class="flaticon-user"></i></td>
												<td><span>账号</span></td>
												<td> <b>:</b> </td>
												<td id="num"></td>
											</tr>
											<tr>
												<td><i class="flaticon-calendar"></i></td>
												<td><span>用户名</span> </td>
												<td> <b>:</b> </td>
												<td id="name"></td>
											</tr>

											<tr>
												<td><i class="flaticon-call"></i></td>
												<td><span>电话</span></td>
												<td> <b>:</b> </td>
												<td id="phone"></td>
											</tr>
											<tr>
												<td><i class="flaticon-envelope"></i></td>
												<td><span>邮箱</span></td>
												<td> <b>:</b> </td>
												<td id="email"><a href="#"></a></td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="btn-list">
									<a href="#" class="btn" style="margin-left: 150px" id="working">修改信息</a>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- profile-area end here -->
		<!-- footer area start here -->
		<footer class="footer-area">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="copyright-area">
							<p>&copy; 2019 <a href="/">JiaoTang</a>. All rights reserved.</p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="footer-social text-right">
							<div class="social-media ">
								<ul>
									<li><a href="#"><i class="fa fa-behance"></i></a></li>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
									<li><a href="#"><i class="fa fa-skype"></i></a></li>																		
								</ul>
							</div>
						</div>
					</div>						
				</div>
			</div>
		</footer>
		<!-- footer area end here -->

            <script>

    $(document).ready(
        function () {

            // 构造一个json数据以发送给后端
            var data = {"num": document.cookie};
            var json_data = JSON.stringify(data);

            // ajax发送数据给后端
            $.post("/resume",
                json_data,
                function (data) {

                    // 解析后端发来的json数据
                    var json_data = JSON.parse(data);
                    document.getElementById("mainName").innerHTML = json_data.name;
                    document.getElementById("num").innerHTML = json_data.num;
                    document.getElementById("name").innerHTML = json_data.name;
                    document.getElementById("phone").innerHTML = json_data.phone;
                    document.getElementById("email").innerHTML = json_data.email;


                }
            );



            $("#working").click(
                function () {
                    alert("待开发ing");
                }
            );

        }
    );

    </script>

		<!-- js file start -->

		<script src="../static/assets/js/plugins.js"></script>
		<script src="../static/assets/js/Popper.js"></script>
		<script src="../static/assets/js/bootstrap.min.js"></script>
		<script src="../static/assets/js/jquery.magnific-popup.min.js"></script>
		<script src="../static/assets/js/owl.carousel.min.js"></script>
		<script src="../static/assets/js/isotope.pkgd.min.js"></script>
		<script src="../static/assets/js/imagesloaded.pkgd.min.js"></script>
		<script src="../static/assets/js/animation-headline.js"></script>
		<script src="../static/assets/js/jquery.appear.js"></script>
		<script src="../static/assets/js/jquery.barfiller.js"></script>
		<script src="../static/assets/js/menu.js"></script>
		<!-- google map -->
        <script src="http://ditu.google.cn/maps/api/js?key=AIzaSyAhrdEzlfpnsnfq4MgU1e1CCsrvVx2d59s"></script>   
        <script src="../static/assets/js/gmaps.js"></script>
		<script src="../static/assets/js/main.js"></script>
		<!-- End js file -->


	</body>
</html>
