
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>话题舆情分析</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-grid.min.css">
    <link rel="stylesheet" type="text/css" href="../static/layui/css/layui.css">
    <script type="text/javascript" src="../static/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.form.js"></script>
    <script type="text/javascript" src="../static/layui/layui.js"></script>
</head>
<body style="background-image: url('../static/images/back.jpg');background-attachment:fixed;background-size:cover">
<ul class="layui-nav layui-bg-cyan">
    <li class="layui-nav-item"><a href="/main">首页</a></li>
    <li class="layui-nav-item"><a href="/resume">个人主页</a></li>
    <li class="layui-nav-item"><a href="/personal">个人情感分析</a></li>
    <li class="layui-nav-item layui-this"><a href="/topic">话题舆情分析</a></li>
    <li class="layui-nav-item"><a href="/">登出</a></li>
</ul>

<div class="layui-bg-cyan rounded-pill" style="width:660px;height:400px;position:absolute;left:50%;top:55%;margin:-200px -330px;opacity: 0.85">
    <!--虚化背景-->
</div>

<div id="welcome" class="container form-group" style="width:400px;height:400px;position:absolute;left:50%;top:50%;margin:-200px -200px;display: none">
    <br><br><br><br><br><br>
    <h1 class="text-center" style="font-size: 60px;color: #f0f0f0">话题舆情分析</h1>
    <br><br>
    <form role="form" id="login" method="post" action="/topicReport">
        <div class="form-group">
            <label for="num" style="color: #f0f0f0">话题:</label>
            <input type="text" name="num" class="form-control" id="num" placeholder="请输入话题">
        </div>
        <br><br>
        <div align="center">
            <div>
                <button type="button" class="layui-btn" id="entry" style="background-color:#0f6674;float:left;margin-left: 140px">进入系统</button>
            </div>
        </div>
    </form>
</div>

<script>

    $(document).ready(
        function () {
            $("#welcome").fadeIn(500);

            $("#entry").click(
                function () {
                    localStorage.setItem("temp",JSON.stringify({"ttopic": $("#num").val()}));
                    window.location.href = '/topicReport';

                }

            );

        }
    );



</script>

</body>
</html>